@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}

body{
     background: white;
    font-family: 'Jost';
}
.log {
    left: 50px;
    position: relative;
   
}
.log:hover{
    transform: scale(1.2);
}
.log img {
    position: absolute;
    margin-top: -20px;
}
.content {
      position: relative;    
    width: 100%;
}

.content_comp {
    position: relative;   
   margin-top: 26px;      
}



ul li {
    display:inline-block;
}

.content_2 { 
    position: relative;
    display: grid;
    grid-template-columns: 20% 60%;
    align-content: center;
    align-items: flex-end;
    min-height: 50%;
    min-width: 50%;
    margin-top: -50px;
}
.knopka {
    display: grid;
    grid-auto-flow: column;
   margin-left: 800px;
    list-style-type: none;
}
.knopka li{
    margin: 0 26px;
}
.button {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 124px;
    height: 35px;
    border-radius: 18px;
    background:#F3F3F3;
    text-align: center;
}

.button:hover {
    
    transform: scale(1.2);
}
.button:active{
    transform: scale(0.9);
    opacity: .8;
}
.button a {
    margin-top: -2px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.button a:hover {
    
    color: #9A1212;
}
.big {
    background-color: #9A1212;
    transform: scale(2);
    margin: 30px 30px 30px 30px;
}
.big a{
    color: white;
}
.big a:hover{
    color: white;
}

.img{
    z-index: 1;  
position: absolute;
width: 174px;
height: 192px;
left: 150px;
top: 157px;
}
.text{
position: absolute;
width: 1090px;
height: 311px;
left: 278px;
top: 193px;
font-size: 29px;
line-height: 42px;
text-align: right;
margin-right: 10px;
}
.footer {
     display: grid;
       align-items:center;
       margin-top: 485px;
     height: 100px;
    width: 100%;
    background-color: #F3F3F3;
    
}
.footer-s {    
    width: 84px;
    height: 56px;
    left: 21px;
    margin-left: 40px;
    background: #FFFFFF;
    border-radius: 20px;
}
.footer-s:hover{
    transform: scale(1.2);
}
.s-left {
    margin-top: 12px;
    margin-left: 25px;
    position: relative;
    width: 30px;
    height: 30px;
    transition: opacity .3s, transform .3s;
}

.s-left:hover {
    opacity: .8;
    transform: scale(1.2);
}

.s-left div {
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: solid #9A1212 7px;
    border-bottom: solid #9A1212 7px;
    transform: rotate(45deg);
}
.s-left div:nth-child(1) {
    left: 50%;
}
@media(max-width:1200px){
    .text_str{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .img{
        transform: scale(0.9);
        margin-left: -50px;
    }
    .text{
        margin-top: -50px;
        text-align: center;
        font-size: 25px;
        width: 800px;
    }
    .knopka{
        margin-left: 500px;
    }
}
@media(max-width:992px){
    .img{
        transform: scale(0.8);
        margin-left: -100px;
    }
     .text{
        margin-top: -50px;
        text-align: center;
        font-size: 22px;
        width: 600px;
    }
    .knopka{
        margin-left: 400px;
    }
}
@media(max-width:769px){
    .knopka {
        margin-right: 50px;
    }
     .img{
        transform: scale(0.7);
        margin-left: -150px;
    }
     .text{
        margin-top: -70px;
        text-align: center;
        font-size: 20px;
        width: 500px;
        margin-left: -100px;
    }
    .knopka{
        margin-left: 180px;
    }
}
@media(max-width:480px){
    .log{
        transform: scale(0.7);
        top: -30px;
        left: 180px;
    }
    .knopka {
        transform: scale(0.7);
        margin-left: 20px;
    }
     .img{
        display: none;
    }
     .text{
        margin-top: -70px;
        text-align: center;
        font-size: 18px;
        width: 450px;
        margin-left: -260px;
    }
}